html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
nav {
  background-color: rgb(253, 127, 23);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: max-content;
  padding: 2px;
}
#dashboard {
  height: 100%;
}
#dashboard div {
  float: left;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}
#choropleth {
  width: 59.75%;
  height: 60%;
  background: rgb(4, 4, 19);
}
#barchart {
  width: 40%;
  height: 60%;

  background: rgb(4, 4, 19);
}
#lineplot {
  width: 59.75%;
  height: 40%;

  background: rgb(4, 4, 19);
}
#scatterplot {
  width: 40%;
  height: 40%;
  background: rgb(4, 4, 19);
}

body {
  margin: 0;
}

.sphere {
  fill: #fff;
}

.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.legendLinear text {
  font-size: 12px;
}
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43, 43, 43, 0.8);
  color: #fff;
  border-radius: 2px;
}
