html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#choropleth {
  background: rgb(4, 4, 19);
}
#parallel {
  background: rgb(4, 4, 19);
}
#lineplot {
  background: rgb(4, 4, 19);
}
#barchart {
  background: rgb(4, 4, 19);
}
#scatterplot {
  background: rgb(4, 4, 19);
}
.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.legendLinear text {
  font-size: 12px;
}
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43, 43, 43, 0.8);
  color: #fff;
  border-radius: 2px;
}

.y-axis line {
  opacity: 0.2;
}
.y-axis path {
  display: none;
}
.line {
  fill: none;
  stroke-width: 1.5px;
  opacity: 0.75;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.lineHoverText {
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
}
.hoverCircle {
  opacity: 0.75;
}

.x-axis path {
  stroke: red;
}

#selection {
  position: absolute;
  margin: 10px;
  color: white;
}

select {
  style: none;
}

.bar {
  fill: rgb(79, 203, 207);
}
#barchart line {
  opacity: 0;
}
#parallel .tick line {
  visibility: hidden;
}

#parallel .parcoords {
  display: block;
}

#parallel .parcoords svg,
#parallel .parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

#parallel .axis .title {
  font-size: 10px;
  transform: translate(-5px, -6px);
  fill: #fff;
}

#parallel .axis line,
#parallel .axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#parallel .axis .tick text {
  fill: #fff;
  opacity: 0;
  pointer-events: none;
}

#parallel .axis.manufac_name .tick text,
#parallel .axis.food_group .tick text {
  opacity: 1;
}

#parallel .axis:hover line,
#parallel .axis:hover path,
#parallel .axis.active line,
#parallel .axis.active path {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#parallel .axis:hover .title {
  font-weight: bold;
}

#parallel .axis:hover .tick text {
  opacity: 1;
}

#parallel .axis.active .title {
  font-weight: bold;
}

#parallel .axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

#parallel .brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  stroke-width: 1px;
}

#parallel canvas {
  z-index: 1;
}

#parallel svg {
  z-index: 2;
}
