html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#choropleth {
  background: rgb(4, 4, 19);
}
#parallel {
  background: rgb(4, 4, 19);
}
#lineplot {
  background: rgb(4, 4, 19);
}
#barchart {
  background: rgb(4, 4, 19);
}
#scatterplot {
  background: rgb(4, 4, 19);
}
.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.legendLinear text {
  font-size: 12px;
}
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43, 43, 43, 0.8);
  color: #fff;
  border-radius: 2px;
}

.y-axis line {
  opacity: 0.2;
}
.y-axis path {
  display: none;
}
.line {
  fill: none;
  stroke-width: 1.5px;
  opacity: 0.75;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.lineHoverText {
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
}
.hoverCircle {
  opacity: 0.75;
}

.x-axis path {
  stroke: red;
}

#selection {
  position: absolute;
  margin: 10px;
  color: white;
}

select {
  style: none;
}

.bar {
  fill: rgb(79, 203, 207);
}
.tick line {
  visibility: hidden;
}
