svg {
font: 10px sans-serif;
padding: 12px;
}

.axis, .frame {
shape-rendering: crispEdges;
}

.axis line {
stroke: #e8e8e8;
}

.axis path {
display: none;
}

.axis text {
fill: #999;
}

.cell text {
font-weight: bold;
text-transform: capitalize;
font-size: 15px;
fill: #222;
}

.frame {
fill: none;
stroke: #aaa;
}

.diagonal {
stroke: none;
fill: #fff;
fill-opacity: 0.8;
}

circle {
fill-opacity: .7;
}

circle.hidden {
fill: #ccc !important;
}

.extent {
fill: #000;
fill-opacity: .125;
stroke: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');
.bar{
    fill: steelblue;
}

.highlight{
    fill: #034f84;
}      
input[type="range"] {
    width:400px;
}
input[type="range"]::-moz-range-progress {
background-color: steelblue; 
margin:0 auto
}
input[type="range"]::-moz-range-track {  
background-color: rgb(204, 204, 204);
}