<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'index.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'draw_map.js')}}"
    ></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename = 'main.css')}}"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!script src="https://unpkg.com/topojson-client@3"></script>
    <script src="//unpkg.com/topojson@3"></script>
  </head>
  <body>
    <nav>COVID 19 World Statistics</nav>
    <div id="dashboard">
      <div id="choropleth"></div>
      <div id="barchart"></div>
      <div id="lineplot"></div>
      <div id="scatterplot"></div>
    </div>

    <script type="text/javascript">
      document.addEventListener("click", function (event) {
        if (event.target.matches("button")) {
          event.target.focus();
        }
      });
    </script>
  </body>
</html>
