<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'index.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'draw_map.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'lineplot.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'draw_bar.js')}}"
    ></script>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename = 'draw_us.js')}}"
  ></script>
  <script
  type="text/javascript"
  src="{{ url_for('static', filename = 'draw_scatter.js')}}"
></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename = 'parallel.js')}}"
  ></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css')}}"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <!script src="//unpkg.com/topojson@3"></script>
    <script src="https://bl.ocks.org/syntagmatic/raw/3341641/render-queue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>
    
  </head>
  <body>
   
    <nav>COVID-19 Dashboard</nav>
      <div class="container-fluid h-100" id='dashboard'>
        <div class="row h-100">
          <div class="col-md-10 no-gutter">
           
            <div class="row h-50">
              <div class="col-md-6 no-float no-gutter" id="choropleth">
                
              </div>
              <div class="col-md-6 no-float no-gutter" id="lineplot">
                
              </div>
            </div>
              <div class="row h-50">
                <div class="col-md-6 no-float no-gutter" id="parallel">
                  
                </div>
                <div class="col-md-6 no-float no-gutter" id="scatterplot">
                  
                </div>
              </div>
          </div>
          <div class="col-md-2 no-gutter" id="barchart">
          </div>
        </div>


      </div>
    
    <script type="text/javascript">
      document.addEventListener("click", function (event) {
        if (event.target.matches("button")) {
          event.target.focus();
        }
      });
    </script>
  </body>
</html>
